In [1]:
import pandas as pd

In [2]:
directory = 'names/'

In [3]:
def read_docs(list_years):
    df_list = list()
    
    for i in list_years:
        line = directory+'yob'+str(i)+'.txt'
        names_df = pd.read_csv(line, names=['Names', 'Gender', 'Counts'])
        names_df['Year'] = i
        df_list.append(names_df)
        
    df_res = pd.concat(df_list)
    return df_res

In [4]:
def count_top3(list_years):
    t3 = read_docs(list_years)
    return t3[['Names', 'Counts']].groupby(['Names']).sum().sort_values(by='Counts', ascending=False).head(3)

In [5]:
count_top3([1900, 1950, 2000])

        Counts
Names
James   111798
John    109593
Robert  101373